@model SBIT3J_SuperSystem_Final.Models.EmployeeAccount

@{
    ViewBag.Title = "Time In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Record Time In for Employee ID: @Model</h2>

@using (Html.BeginForm("Hr_Attendance_L", "EmployeeManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    

    <div class="form-group">
        <label for="employeeId">Enter Employee ID:</label>
        <input type="text" id="Employee_ID" name="Employee_ID" class="form-control" required />
    </div>

    <div class="form-group">
        <input type="submit" value="Record Time In" class="btn btn-primary" />
    </div>
}